[project]
name = "mkdocs-boilerplate"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "mkdocs-awesome-pages-plugin>=2.10.1",
]
